#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: rgba(135, 33, 244, 0.227);
}

.main {
  flex-grow: 1;
}

.fondoCard{
  background-color: #8BC6EC;
  background-image: linear-gradient(135deg, #8BC6EC 0%, #9660f7 100%);
}
